################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ChainResponsability/.vs/ChainResponsability
/ChainResponsability/ChainResponsability/obj
/ChainResponsability/ChainResponsability/bin/Debug/net7.0
/.vs
